.col {
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    margin-top: 10px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 94, 126);
    
}
  

#pink {
    background: linear-gradient(rgb(255, 255, 255), rgb(228, 215, 217));
}
  
#yellow {
    background: linear-gradient(rgb(245, 255, 112), rgb(189, 180, 53));
    animation-name: shine;
    animation-duration: 0.5s;
}

#red {
    background: linear-gradient(rgb(221, 99, 99),rgb(177, 43, 43));
    animation-name: shine;
    animation-duration: 0.5s;
}

#yellow:before, #red:before {
    position: absolute;
    top: 3px;
    left: 22px;
    z-index: 2;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255,.3) 0.0);
}  

@keyframes shiny {
    100% {
        left: 30px;
    }
}

@keyframes shine {
    0% {
        opacity: 0;
    }

    50% {
        width: 53px;
        height: 53px;
    }
  
    100% {
        opacity: 1;
        width: 50px;
        height: 50px;
    }

  }
  
.row {
    width: 70px;
    height: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    border-radius: 5px;
}

#board {
    width: 500px;
    height: 500px;
    background: linear-gradient(to bottom right, rgb(121, 191, 238), rgb(93, 146, 182));
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    box-shadow: 6px 6px rgba(32, 32, 32, 0.6);
    }

#turn {
    width: 500px;
    margin: auto;
    text-align: left;
    color: rgb(172, 172, 172);
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 10px;
    
}

#buttonsHolder {
    position: relative;
    width: 500px;
    height: 500px;
    top: -509px;
}

.DropButton {
    width: 70px;
    height: 500px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
}

.DropButton:hover {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));
    border-radius: 5px;

}

.DropButton:focus {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.0));
    outline:0;
}

.DropButton:disabled {
    background-color: rgba(255, 255, 255, 0);
}

h1, h2 {
    color: white;
}

h3 {
    margin-top: 40px; 
}

p {
    font-size: 14px;
    margin-bottom: 0px;
}

#mainButton {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border-color: black;
    font-size: 15px;
    background-color: rgb(241, 243, 104);
    color: rgb(37, 37, 37);
    box-shadow: 2px 2px gray;
}

#mainButton:hover {
    background-color: rgb(240, 94, 75);
    box-shadow: -1px -1px gray;
}
  