#winner {
    position: relative;
    width: 350px;
    height: 200px;
    background-color: rgba(255,255,255,0.9);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    top: 120px;
    margin: auto;
    box-shadow: 5px 5px rgba(51, 51, 51, 0.8);
    
}
