#overlay {
    position: relative;
    width: 500px;
    height: 500px;
    top: -1008px;
    border-radius: 20px;
    background-color: rgba(90, 90, 90, 0.7);
}

#start {
    position: relative;
    width: 350px;
    height: 200px;
    background-color: rgba(255,255,255,0.9);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin: auto;
    top: 120px;
    box-shadow: 5px 5px rgba(51, 51, 51, 0.8);
}